{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <h5>Symbol</h5>
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="symbol" type="text">
        </div>
        <div class="mb-3">
            <h5>Shares</h5>
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="shares" type="number" min="1">
        </div>
        <div class="mt-5">
            <a href="/quote" class="btn btn-info">🔙 Back</a>
            <button class="btn btn-success w-25" type="submit">Buy 📈</button>
        </div>
    </form>
{% endblock %}
