{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <h5>Symbol</h5>
            <select class="form-select mx-auto w-25" name="symbol" aria-label="Symbol select">
                {% for symbol in symbols %}
                    <option value="{{ symbol.get('symbol') }}" selected >{{ symbol.get('symbol') }} ({{ symbol.get('total_shares') }} shares)</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <h4>Selling shares</h4>
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="shares" type="number" min="1" max="{{ owned_shares }}">
        </div>

        <div class="mt-5">
            <a href="/quote" class="btn btn-info">🔙 Back</a>
            <button class="btn btn-warning w-25" type="submit">Sell 📉</button>
        </div>
    </form>

    <script src="/static/sell.js"></script>
{% endblock %}
