{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<form action="/quote" method="post" id="quote-form"
    class="d-flex justify-content-center align-items-start gap-3 mt-3 mb-5">
    <div class="dropdown">
        <input autocomplete="off" id="searchBox" autofocus class="form-control mx-auto w-auto dropdown-toggle"
            name="symbol" data-bs-toggle="dropdown" data-bs-offset="0,10" placeholder="Search ticker symbol..."
            type="text">

        <ul id="autocompleteMenu" class="dropdown-menu overflow-auto"></ul>
    </div>

    <button class="btn btn-primary" type="submit">Get stock quote</button>
</form>

<div id="quote-details"></div>

<!-- test UI -->
<!-- <div>
    <div class="d-flex justify-content-center align-items-baseline gap-5 mt-5">
        <div class="d-flex flex-column justify-content-start align-items-start">
            <h1 class="text-start mr-5">A</h1>
            <h5>B</h5>
        </div>
        <h3 class="fw-bold ml-5">C</h3>
    </div>
    <div class="d-flex justify-content-center align-items-baseline gap-5 mt-5">
        <a href="/buy">
            <button type="button" class="btn btn-success">Buy</button>
        </a>
        <a href="/sell">
            <button type="button" class="btn btn-warning">Sell</button>
        </a>
    </div>
</div> -->
{% endblock %}